@font-face {
  font-family: "Articulat";
  font-weight: 400;
  font-style: normal;
  src: url("../public/fonts/Fontspring-DEMO-articulatcf-regular.otf")  format("opentype");
}

@font-face {
  font-family: "Articulat";
  font-weight: 600;
  font-style: normal;
  src: url("../public/fonts/Fontspring-DEMO-articulatcf-bold.otf")  format("opentype");
}

@font-face {
  font-family: "Helvetica Now";
  font-weight: 400;
  font-style: normal;
  src: url("../public/fonts/HelveticaNowDisplay-Regular.otf")  format("opentype");
}

@font-face {
  font-family: "Helvetica Now";
  font-weight: 500;
  font-style: normal;
  src: url("../public/fonts/HelveticaNowDisplay-Medium.otf")  format("opentype");
}

@font-face {
  font-family: "Helvetica Now";
  font-weight: 600;
  src: url("../public/fonts/HelveticaNowDisplay-Bold.otf")  format("opentype");
}

@font-face {
  font-family: "Helvetica Now";
  font-weight: 800;
  font-style: normal;
  src: url("../public/fonts/HelveticaNowDisplay-Black.otf")  format("opentype");
}

body {
  margin: 0;
  padding: 0;
  background-color: #F9F8F8;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
